# This file designates the owner for code review purposes.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Assign all files in the repository to @taihen
* @taihen
